include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include VERSION
include requirements.txt
recursive-include docs *.md
recursive-include tests *.py
include src/oet_core/py.typed
